@using RentABook.Web.Areas.Administration.Models
@model BookViewModel
@{
    ViewBag.Title = "Approve books";
    const string ControllerName = "Books";
}

<div class="container">
    <div class="row">
        <div class="span3">
            <div class="sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Admin Tools</li>
                    <li class="active"><a href="~/Administration/Books/ApproveList">Approve books</a></li>
                    <li><a href="~/Administration/Config/Categories">Manage categories</a></li>
                    <li><a href="~/Administration/Config/Towns">Manage towns</a></li>
                    <li class="nav-header">Super Admin Tools</li>
                    <li><a href="~/Administration/Users/Manage">Manage users</a></li>
                </ul>
            </div><!--/.well -->
        </div><!--/span-->

        <div class="span9">
            <div class="card">
                <h2 class="card-heading simple">@ViewBag.Title</h2>
                <div class="card-body">
                    @(Html.Kendo()
                        .Grid<BookViewModel>()
                        .Name("grid")
                        .HtmlAttributes(new { style = "height: 376px;" })
                        .Columns(cols =>
                        {
                            cols.Bound(u => u.Id).Hidden();
                            cols.Bound(u => u.Title).ClientTemplate("<a href='/Books/Book/Details/#= Id #' target='_blank' >#= Title #</a>");
                            cols.Bound(u => u.Author);
                            cols.Bound(u => u.Description);
                            cols.Bound(u => u.Owner).ClientTemplate("<a href='/Users/#= Owner #' target='_blank' >#= Owner #</a>");
                            cols.Template(@<text></text>).ClientTemplate("<a href='"+Url.Action("Approve","Books")+"/#= Id #' class='btn btn-default'>Approve</a>");
                        })
                        .ColumnMenu()
                        .Pageable(page => page.Refresh(true))
                        .Sortable()
                        .Scrollable()
                        .Filterable()
                        .DataSource(data =>
                            data
                                .Ajax()
                                .Model(m => m.Id(u => u.Id))
                                .PageSize(7)
                                .Read(read => read.Action("Read", ControllerName))
                                ))
                </div>
            </div>
        </div><!--/span-->
    </div><!--/row-->
</div>