body {
    padding-top: 46px;
    padding-bottom: 120px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body > .navbar .brand {
    padding-right: 0;
    padding-left: 0;
    font-weight: bold;
    color: #000;
}

img.logo {
    position: relative;
    left: -20px;
    top: 4px;
}

.hero-unit {
    background: #00001C;
}

.hero-unit h1 {
    color: #FFF;
}

.hero-unit p {
    color: #F5F5F5;
}

.footer {
    text-align: center; 
    padding: 20px 0; 
    margin-top: 30px; 
    border-top: 1px solid #e5e5e5; 
    background-color: #f5f5f5; 

    position: fixed;
    bottom: 0px;
    width: 100%;
}