<link href="~/Content/daterangepicker.css" rel="stylesheet" />

<div>
    Select dates: <input id="@ViewData["controlId"]" name="@ViewData.TemplateInfo.HtmlFieldPrefix" value=""/>
    <div id="date-range-container"></div>
</div>



