<link href="~/Content/ion.rangeSlider.css" rel="stylesheet" />
<link href="~/Content/ion.rangeSlider.skinNice.css" rel="stylesheet" />
<link href="~/Content/normalize.min.css" rel="stylesheet" />

<div style="width:225px">
    <input type="text" id="example_id" name="@ViewData.TemplateInfo.HtmlFieldPrefix" value="" data-from="@ViewData.TemplateInfo.FormattedModelValue" />
</div>


