<link href="~/Content/ion.rangeSlider.css" rel="stylesheet" />
<link href="~/Content/ion.rangeSlider.skinNice.css" rel="stylesheet" />

<div style="width:225px">
    <input type="text" id="@ViewData["controlId"]" name="@ViewData.TemplateInfo.HtmlFieldPrefix" value="" data-from="@ViewData.TemplateInfo.FormattedModelValue"
           data-type="single" data-hasgrid="true" data-hideminmax="true" data-values="@ViewData["values"]" />
</div>


