@{
    ViewBag.Title = "Books is archived";
}

<div class="container">
    <div class="card">
        <h2 class="card-heading simple">@ViewBag.Title</h2>
        <div class="card-body text-center">
            <img width="150" src="~/Content/Images/stop.png" />
            <p class="large">
                <strong>This book currently is in the archive. You can't access it.</strong>
            </p>
        </div>
    </div>
</div>
