@{
    ViewBag.Title = "Home Page";
}

<div class="hero-unit">
    <div class="container">
        <h1>Share a book!</h1>
        <p>This web site is created to provide platform for book sharing. Here you can share the books you own with other people and find a lot of new interesting readings for you.</p>
    </div>
</div>