@{
    ViewBag.Title = "Home Page";
}

<div class="hero-unit">
    <div class="container">
        <h1>Share a book!</h1>
        <p>This web site is created to provide platform for book sharing. Here you can share the books you own with other people and find a lot of new interesting readings for you.</p>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Share", "Create", "Books", null, new { @class = "btn btn-primary btn-large" })
        }
        else
        {
            @Html.ActionLink("Create free account", "Register", "account", null, new { @class = "btn btn-primary btn-large" })
        }
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="span6">
            <div class="card">
                <h3 class="card-heading simple">Latest books</h3>
                <div class="card-body">
                    <table class="table table-striped" id="latest-books">
                        <colgroup>
                            <col />
                            <col />
                            <col />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Author</th>
                                <th>Title</th>
                                <th>Owner</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span>Mark</span></td>
                                <td><span>Otto</span></td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="span6">
            <div class="card">
                <h3 class="card-heading simple">Top book owners</h3>
                <div class="card-body">
                    <table class="table table-striped" id="top-owners">
                        <colgroup>
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Town</th>
                                <th>Books</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><span>Mark ewf lekw fl;kewnklf jsewfj ewf ;sdhf; sdfh s;dfh sdlp d;gjewgjeowfh klsd; gsdlg</span></td>
                                <td><span>Mark ewf lekw fl;kewnklf jsewfj ewf ;sdhf; sdfh s;dfh sdlp d;gjewgjeowfh klsd; gsdlg</span></td>
                                <td>10</td>
                                <td>120</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>6</td>
                                <td>45</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>12</td>
                                <td>20</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>